/*this is a element*/
/*
header{
    background-color: rgb(188, 245, 247) !important;
    width: 100% !important;
    padding: 5px !important;

}

.header{
    background-color: rgb(67, 192, 36);
    width: 100%;
    padding: 5px;
}

#header{
    background-color: rgb(174, 36, 192)!important  ;
    color: white;
    width: 100%;
    padding: 5px;
}
*/

.border-danger-img{
    background-color: #f834348c;
}
.text-pink{
    color: rgb(172, 67, 84);
}
.text-brown{
    color: brown;
}